{{#bacs_stats}}
    <h2>{{fullname}}</h2>
    {{#contests}}
        <div style="padding-left:20px;">
            <h4>{{name}}: {{complete_count}}/{{total_tasks}} ({{complete_percents}}%)</p>
        </div>
    {{/contests}}
{{/bacs_stats}}